<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>收费</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 挂号收费 <span class="c-gray en">&gt;</span> 收费 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<div class="page-container" id="wrap">
	<div class="row cl">
		<label class="form-label col-xs-1 col-sm-1">患者信息查询</label>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-1 col-sm-1" style="margin-top: 5px;"><span class="c-red">*</span>病历号：</label>
		<input type="text" name="" id="" placeholder="请输入查询病历号" v-model="caseNumber" style="width:250px" class="input-text">
		<button name="" id="" class="btn btn-success" type="button" @click="checkNumber(1)"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-1 col-sm-1">患者信息确认</label>
		<label class="form-label col-xs-11 col-sm-11"></label>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-1 col-sm-1" style="margin-top: 5px;"><span class="c-red">*</span>姓名：</label>
		<div class="formControls col-xs-1 col-sm-1" style="margin-left: -15px;">
			<input type="text" class="input-text" value="" v-model="register.realName" placeholder="姓名"  name="username">
		</div>
		<label class="form-label col-xs-2 col-sm-2" style="margin-top: 5px;"><span class="c-red">*</span>身份证号：</label>
		<div class="formControls col-xs-2 col-sm-2" style="margin-left: -100px;" >
			<input type="text" class="input-text" value="" v-model="register.idNumber" placeholder="身份证号"  name="username">
		</div>
		<label class="form-label col-xs-1 col-sm-1"  style="margin-top: 5px;"><span class="c-red"></span>家庭住址：</label>
		<div class="formControls col-xs-3 col-sm-3" >
			<input type="text" class="input-text" value="" v-model="register.homeAddress" placeholder="家庭住址" name="username">
		</div>
	</div>
	<div class="mt-20">
		<div class="row cl" style="margin-top: 20px;">
			<label class="form-label col-xs-1 col-sm-1">患者消费信息</label>
		</div>
		<table class="table table-border table-bordered table-bg table-hover table-responsive">
			<thead>
				<tr class="text-c">
					<th width="25"></th>
					<th width="80">病历号</th>
					<th width="80">姓名</th>
					<th width="80">项目名称</th>
					<th width="120">单价</th>
					<th width="80">数量</th>
					<th width="75">开立时间</th>
					<th width="60">状态</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-c" v-for="item in prescriptiondetailedList">
					<td><input type="checkbox" value="" v-model="item.chooseState" name="" @change="drugAdd(item)"></td>
					<td v-text="item.prescriptionID.registID.caseNumber"></td>
					<td v-text="item.prescriptionID.registID.realName"></td>
					<td v-text="item.drugsID.drugsName"></td>
					<td v-text="item.drugsID.drugsPrice"></td>
					<td v-text="item.amount"></td>
					<td v-text="item.prescriptionID.prescriptionTime"></td>
					<td v-if="item.state==1">未开立</td>
					<td v-if="item.state==2">已开立</td>
					<td v-if="item.state==3">已缴费</td>
					<td v-if="item.state==4">已发药</td>
					<td v-if="item.state==5">已退药</td>
					<td v-if="item.state==6">已退费</td>
				</tr>
			</tbody>
		
		</table>		
		<button name="" id="" @click="charge" class="btn btn-danger" onClick="article_edit('发票信息(缴费)','costdetail.html')" type="button" style="margin-top: 10px; width: 100px;">收费结算</button>
	</div>
		
</div>


<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
function article_edit(title,url){
			layer.open({
				type: 2,
				title: title,
				content: url,
			    area: ['800px', '400px'],  //弹出层页面比例
			});
}

</script>
<script>
	var app =new Vue({
			el:"#wrap",
			data:{
				register:{},
				caseNumber:null,
				prescriptiondetailed:{}	,//		选定的缴费项目对象
				prescriptiondetailedList:[], //查询的缴费项目列表
				selectprescriptiondList:[],
			},
			methods:{
				//根据病历号搜索挂号信息,赋值挂号对象给register
				checkNumber(checkPage){
					//axois调用预留
					var _this =this;
					axios.get("http://localhost:8080/toll/findAll?caseNumber="+this.caseNumber).then(res=>{
							if(res.data.prescriptiondetaileds.length==0){
								alert("当前患者未有开立收费项目");
								this.register={};
							}else{
								_this.prescriptiondetailedList = res.data.prescriptiondetaileds;
								_this.register=_this.prescriptiondetailedList[0].prescriptionID.registID;
							}
							
					});
				
				},
				//选择开立的项目
				drugAdd(item){
					if(item.chooseState){
						this.selectprescriptiondList.push(item);
					}else{
						var temp = this.selectprescriptiondList.indexOf(item);
						this.selectprescriptiondList.splice(temp,1);
					}
				},
				//计算总金额
				charge(){
					if(this.selectprescriptiondList.length==0){
						alert("请选择要收费的项目");
					}else{
						//将处方详细信息存储在localStorage中
						localStorage.setItem("selectprescriptiondList",JSON.stringify(this.selectprescriptiondList));
						localStorage.setItem("registerToll",JSON.stringify(this.register));
					}
				}
			}
			})	
</script>
</body>
</html>